
<div id="change-transitions" ng-animation="" class="row">
  
  <div class="col-md-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="gallery-pages">
          <ul class="list-filter list-unstyled list-inline">
            <li class="filter active">Department</li>
            <li class="filter">Permisions</li>
            <li class="filter">Roles</li>
            <li class="filter">Asset Type</li>
            
            
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <label>All Setting Department</label>
      </div>
    </div>
  </div>
</div>
